@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body, .btn {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

header {
  border-bottom: 2px solid crimson;
  margin-bottom: 16px;
  text-align: center;
}

.page-wrapper {
  margin: auto;
  max-width: 900px;
  padding: 0 8px;
}

.question-container {
  margin: 32px auto;
}

.btn {
  background-color: crimson;
  border: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin: 16px auto;
  padding: 8px;
  width: 100%;
}

.btn:hover {
  background-color: darkred;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}