<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{quizTitle}}</title>

  <style>
{{stylesheet}}
  </style>
</head>
<body>
  <header>
    <h1>{{quizTitle}}</h1>
  </header>

  <main class="page-wrapper">
    <form id="quizForm">
      {{questions}}
    
      <input type="button" value="Check results" class="btn" id="submitQuiz">
    </form>
  </main>

  <div class="modal hide" id="modal">
    <div class="modal-contents">
      <div class="modal-body" id="modalBody"></div>
  
      <button class="btn" id="closeModal">Close</button>
    </div>
  </div>

  <script>
    {{script}}
  </script>
</body>
</html>